<h1><%= @bachelorette.name %></h1>

<h3>Season <%= @bachelorette.season_number %> - <%= @bachelorette.season_description %></h3>


<%= link_to "Contestants", bachelorette_contestants_path(@bachelorette)  %>  